<div *ngFor="let item of allItems" style="left: 20">
    <h2>{{item.title}}</h2>
    <span>Update Categories:</span>
    <div *ngFor="let Itemcategory of item.category">
        <mat-checkbox name="cat" [checked]=Itemcategory color="primary" [value]="Itemcategory" (change)="checkCheckBoxvalue($event)"> {{categories[Itemcategory-1].title}}</mat-checkbox>
    </div>
    <div *ngFor="let cat of categories">
        <div *ngIf="!item.category.includes(cat.categoryId)">
            <mat-checkbox name="cat" [checked]=!cat.categoryId [value]="cat.categoryId" (change)="checkCheckBoxvalue($event)"> {{cat.title}}
            </mat-checkbox>
        </div>
    </div>
    <button mat-raised-button (click)="updateCategories(item)">Update Categories</button>

    <div *ngIf="item.status == 1; else elseBlock">
        <span>Item is Available! </span>
        <button mat-raised-button (click)="setUnavailable(item)" color="warn">Set to unavailable</button>
    </div>

    <ng-template #elseBlock>
        <div>
            <span>Item is not Available! </span>
            <button mat-raised-button (click)="setAvailable(item)" color="primary">Set to available</button>
        </div>
    </ng-template>
    <br>
</div>