<div class="item-container">
    <div *ngFor="let item of allItems" style="left: 20">
        <mat-card class="card">
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-content>
                <div *ngFor="let Itemcategory of item.category">
                    <mat-checkbox name="cat" [checked]=Itemcategory color="primary" [value]="Itemcategory" (change)="checkCheckBoxvalue($event)"> {{categories[Itemcategory-1].title}}</mat-checkbox>
                </div>
                <div *ngFor="let cat of categories">
                    <div *ngIf="!item.category.includes(cat.categoryId)">
                        <mat-checkbox name="cat" [checked]=!cat.categoryId [value]="cat.categoryId" (change)="checkCheckBoxvalue($event)"> {{cat.title}}
                        </mat-checkbox>
                    </div>
                </div>
                <mat-card-actions>
                    <button mat-raised-button (click)="updateCategories(item)">Update Categories</button>

                    <ng-container *ngIf="item.status == 1; else elseBlock">

                        <button mat-raised-button (click)="setUnavailable(item)" color="warn">Set to
                            unavailable</button>
                    </ng-container>

                    <ng-template #elseBlock>
                        <ng-container>

                            <button mat-raised-button (click)="setAvailable(item)" color="primary">Set to
                                available</button>
                        </ng-container>
                    </ng-template>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
</div>