<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Order Details">
        <app-view-order-waiter></app-view-order-waiter>
    </mat-tab>
    <mat-tab label="Customer Requests">
        <app-view-request-waiter></app-view-request-waiter>
    </mat-tab>
    <mat-tab label="Items for Pickup">
        <app-view-items-for-pickup-waiter></app-view-items-for-pickup-waiter>
    </mat-tab>
</mat-tab-group>
<button style="float: right" mat-raised-button (click)="logout()" color="warn">Logout</button>